.students{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.list1{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list2{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:650px) {
    .list1{
        width: 100%;
    }
    .list2{
        width: 100%;
    }
}
.students ul {
    width: 100%;
}
.students ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.students p{
    width: 40%;
    text-align: left;
    padding: 10px;
}