.container{
    height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 10px;

}
#skills{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(13, 36, 179);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(155, 141, 232);

    font-size: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;

}
.home{
    /* font-size: 40px;
    color: rgb(13, 36, 179);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: dodgerblue;
    width: 100%;
     */
   
    /* text-shadow: 2px 2px 5px black; */

   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(13, 36, 179);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:aqua;
    font-size: 50px;
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
}
#btn1{
    position: absolute;
    top:45%;
    left: 50px;
    
}
#btn2{
    position: absolute;
    top:45%;
    right: 50px;
}
.btn{
    font-size: xx-large;
    width: 40px;
    height: 40px;
    border-color: aliceblue;
    background-color: rgba(135, 123, 123, 0.8);
    border-radius: 50%;
    color: white;
    z-index: 5;
}
.btn:active{
    background-color: white;
    color: black;
}
.carousel{
    width: 100%;
    height: 100%;
    position: relative;
}
.image{
    position: absolute;
    width: 100%;
    height: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.i{
    width: 100%;
    height: 90%;
    border: 10px solid black;
}
.image p{
    font-size: xx-large;
    /* text-shadow: 1px 1px 3px; */
    
    font-weight: bolder;
}
.main{
    visibility: visible;
}
