.container{
    height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 10px;
}
#skills{
    width: 100%;
    text-align: left;
    padding: 20px;
}
.home{
    font-size: 50px;
    color: red;
    text-shadow: 2px 2px 5px black;
}
.box{
    width: 100%;
    height: 80%;
    position: relative;
}
#btn1{
    position: absolute;
    top:45%;
    left: 50px;
    
}
#btn2{
    position: absolute;
    top:45%;
    right: 50px;
}
.btn{
    font-size: xx-large;
    width: 40px;
    height: 40px;
    border-color: aliceblue;
    background-color: rgba(135, 123, 123, 0.8);
    border-radius: 50%;
    color: white;
    z-index: 5;
}
.btn:active{
    background-color: white;
    color: black;
}
.carousel{
    width: 100%;
    height: 100%;
    position: relative;
}
.image{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
}
.i{
    width: 100%;
    height: 90%;
    border: 10px solid black;
}
.image p{
    font-size: x-large;
    text-shadow: 1px 1px 3px;
}
.main{
    visibility: visible;
}